<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="/images/medalhao file mignon.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">Medalhão De Filé Mignon Bovino Resfriado 500g Bandeiras</h6>
              <p class="card-text"> a partir de R$39,99</p>
              <a href="#" class="btn ">Comprar</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 ">
            <img src="/images/Carne moida de acem.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title"> Carne Moída de Acém Resfriada Qualitá 500G</h6>
              <p class="card-text"> a partir de R$ 49,90</p>
              <a href="#" class="btn ">Comprar</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 ">
            <img src="/images/carne moida patinho.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">Carne Moída De Patinho QDO Resfriada Qualitá 500G</h6>
              <p class="card-text">a partir de R$ 29,90.</p>
              <a href="#" class="btn ">Comprar</a>
    
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100  ">
            <img src="/images/Bife ancho.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">Bife Ancho Filé De Costela Bassi Resfriado 1,5Kg</h6>
              <p class="card-text">a partir de R$ 82,35</p>
              <a href="#" class="btn ">Comprar</a>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card h-100  ">
              <img src="/images/contra file.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h6 class="card-title">Contra Filé Bandeja Qualitá 500g </h6>
                <p class="card-text"> a partir de R$ 29,90</p>
                <a href="#" class="btn ">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100  ">
              <img src="/images/maminha bovina.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h6 class="card-title">Maminha Bovina Resfriada Bandeiras 1,2Kg</h6>
                <p class="card-text">a partir de R$59,60.</p>
                <a href="#" class="btn ">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100  ">
              <img src="/images/maminha.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h6 class="card-title">Maminha Bovina Extra Limpa Resfriada BASSI 1,188kg </h5>
                <p class="card-text">a partir de R$50,99.</p>
                <a href="#" class="btn ">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100  ">
              <img src="/images/Tira de costela.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h6 class="card-title">Tira de Costela Suína Congelada Sadia 800g</h6>
                <p class="card-text">a partir de 15,12</p>
                <a href="#" class="btn ">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100  ">
              <img src="/images/Fraldinha.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h6 class="card-title">Fralda estância 92 resfriada 1,1kg</h6>
                <p class="card-text">a partir de R$59,90</p>
                <a href="#" class="btn ">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100  ">
              <img src="/images/carnemoidatraseiro.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h6 class="card-title">Carne Moída Traseiro QDO Qualitá 500G</h6>
                <p class="card-text">a partir de R$29,90</p>
                <a href="#" class="btn ">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100  ">
              <img src="/images/linguicasuina.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h6 class="card-title">Linguiça Suína Defumada Enrolada Perdigão 500g</h6>
                <p class="card-text">a partir de R$24,90</p>
                <a href="#" class="btn ">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100  ">
              <img src="/images/presunto fatiado.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h6 class="card-title">Presunto Cozido Fatiado Seara 180g </h6>
                <p class="card-text">a partir de R$9,90</p>
                <a href="#" class="btn ">Comprar</a>
              </div>
            </div>
          </div>
      </div>
    </div>
    