<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CestaValor</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    /* Custom CSS for your elements */
body {
  background-color: #F6F6F6;

}  
.dropdown-menu{
  background-color: #11c66f;
}
.dropdown-item{
  color:#fff
}
.dropdown-item:hover{
  background:#83d377;
}
.navbar-toggler{
    width: 60px;
    height: 50px;
    border:transparent;

}

.navbar-toggler-icon{
    width: 100%;
    float: left;
    height: 100%;
    color: #fff;
    margin-bottom: 5px;
}
.dropdown-header{
  color: rgb(247, 238, 238);
  font-size: 18px;
}
.navbar .input-group-btn {
background: #fff;
}
.btn-bd-primary{
  background: #46de50;
  width: 100px;
  height: 50px;
  border-color: #46de50;
  border-radius: 15px;
  color: #fff;
  margin-right: 30px;
}
</style>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" >
            <img id="logo" src="/images/icons8-shopping-basket-48.png" class="d-inline-block align-top" alt="">
            CestaValor
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" ></span>
        </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="/">Categorias</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <span class="dropdown-header">Alimentos</span>
                <li><a class="dropdown-item" id="category-list" href="/Carnes" >Carnes </a></li>
                <li><a class="dropdown-item" id="category-list"href="/Aves" >Aves </a></li>
                <li><a class="dropdown-item" id="category-list"href="/FruVer" >Frutas e verduras</a></li>
                <li><a class="dropdown-item" id="category-list"href="/Laticinios" >Queijos e laticínios</a></li>
                <li><a class="dropdown-item" id="category-list"href="/Peixaria" >Peixes e frutos do mar</a></li>
                <li><a class="dropdown-item" id="category-list"href="/Paes" >Pães</a></li>
                <span class="dropdown-header">Bebidas</span>
                <li><a class="dropdown-item" id="category-list"href="/Sucos" >Sucos,chá e água</a></li>
                <li><a class="dropdown-item" id="category-list"href="/Leite" >Leite</a></li>
                <li><a class="dropdown-item" id="category-list"href="/Refri" >Refrigerantes e energéticos</a></li>
                <li><a class="dropdown-item" id="category-list"href="/Cervejas" >Cervejas</a></li>
                <li><a class="dropdown-item" id="category-list"href="/Vinho" >Vinhos e espumantes</a></li>
                <span class="dropdown-header">Limpeza</span>
                <li><a class="dropdown-item" id="category-list" href="/Detergente" >Detergente</a></li>
                <li><a class="dropdown-item" id="category-list"href="/Sabao">Sabão</a></li>
                <li><a class="dropdown-item" id="category-list"href="/Alcool" >Alcool</a></li>
                <li><a class="dropdown-item" id="category-list"href="/Amaciante">Amaciante</a></li> 
              </ul>
            </li>
            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="/promo">Promoções </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown" >
                <li><a class="dropdown-item" href="#" >Até 15% off</a></li>
                <li><a class="dropdown-item" href="#" >Até 30% off</a></li>
                <li><a class="dropdown-item" href="#">Até 50% off</a></li>
                <li><a class="dropdown-item" href="#" >Até 60% off</a></li>
                <li><a class="dropdown-item" href="#" >Até 80% off</a></li>
                <li><a class="dropdown-item" href="#" >Leve mais pague menos</a></li>
              </ul>
        </li>
            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="/super">Supermercados </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/SaoLuiz" >São Luiz</a></li>
                <li><a class="dropdown-item" href="/Pinheiro" >Pinheiro</a></li>
                <li><a class="dropdown-item" href="/Cometa" >Cometa</a></li>
                <li><a class="dropdown-item" href="/Carrefour" >Carrefour</a></li>
                <li><a class="dropdown-item" href="/Assai" >Assai</a></li>
                <li><a class="dropdown-item" href="/Lagoa">Lagoa</a></li>
              </ul>
        </li>
<form class="d-flex" action="/search" method="get">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Procure um produto" name="search">
    <div class="input-group-btn">
      <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
    </div>
  </div>
</form>
          </ul>
          <button class="btn-bd-primary" type="button" color= "white">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-person-circle" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </svg>
            <a>Login</a>
          </button>
          <a class="text-decoration-none" href="#"> </a>
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-cart-fill" viewBox="0 0 16 16">
            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
          </svg>
        </div>
      </div>
      </nav>
       
    
</header>

