<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="/images/manteigapre.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="title">Manteiga Extra Com Sal President Gastronomique Pote 200g</h6>
              <p class="card-text">R$ 13,90</p>
              <a href="#" class="btn ">Comprar</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="/images/requeijaoVigor.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="title">Requeijão Cremoso Tradicional VIGOR Copo 200g</h6>
              <p class="card-text">R$ 8,59</p>
              <a href="#" class="btn ">Comprar</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="/images/catupiry.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="title">Requeijão Cremoso Tradicional Catupiry Copo 200g</h6>
              <p class="card-text">R$ 8,90</p>
              <a href="#" class="btn ">Comprar</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 ">
            <img src="/images/danonefrutasver.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">Iogurte Grego Danone Frutas Vermelhas 90g</h6>
              <p class="card-text">R$ 14,90</p>
              <a href="#" class="btn ">Comprar</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 align-items-center">
            <img src="/images/danonemorango.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">Iogurte Parcialmente Desnatado Morango Danone Garrafa 1,25kg</h6>
              <p class="card-text">R$ 15,40.</p>
              <a href="#" class="btn ">Comprar</a>
    
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 align-items-center ">
            <img src="/images/danoninho.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">Danoninho Petit Suisse Morango, Banana e Maçã-Verde 320g 8 unidades</h6>
              <p class="card-text">R$ 9,19</p>
              <a href="#" class="btn ">Comprar</a>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card h-100 align-items-center ">
              <img src="/images/iogurteGregoVigor.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h6 class="card-title">Iogurte Grego Tradicional Vigor Pote 90g </h6>
                <p class="card-text">R$ 3,50</p>
                <a href="#" class="btn ">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100 align-items-center ">
              <img src="/images/yakult.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h6 class="card-title">Leite Fermentado Desnatado Yakult 40 Light 480g com 6 Unidades</h6>
                <p class="card-text">R$13,79.</p>
                <a href="#" class="btn ">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100 align-items-center ">
              <img src="/images/queijominas.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h6 class="card-title">Queijo Minas Frescal Fazenda Bela Vista 400g</h5>
                <p class="card-text">23,50.</p>
                <a href="#" class="btn ">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100 align-items-center ">
              <img src="/images/queijomussarelapresi.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h6 class="card-title">Queijo Mussarela President Fatiado 150g</h6>
                <p class="card-text">R$ 10,90</p>
                <a href="#" class="btn ">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100 align-items-center ">
              <img src="/images/quejioprato.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h6 class="card-title">Queijo Prato President Fatiado 150g</h6>
                <p class="card-text">R$10,90</p>
                <a href="#" class="btn ">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100 align-items-center ">
              <img src="/images/quejomussarelaQuali.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h6 class="card-title">Queijo Mussarela Qualitá Fatiado 150g</h6>
                <p class="card-text">R$8,90</p>
                <a href="#" class="btn ">Comprar</a>
              </div>
            </div>
          </div>
      </div>
    </div>
    