<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="/images/coca1,5.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">Refrigerante Coca-Cola Sem Açúcar PET 1,5L</h6>
              <p class="card-text">R$6,99</p>
              <a href="#" class="btn ">Comprar</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 ">
            <img src="/images/citrus.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">Refrigerante Schweppes Sabor Citrus Leve em Açúcares LATA 350ML</h6>
              <p class="card-text">R$ 4,15</p>
              <a href="#" class="btn ">Comprar</a>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card h-100 ">
              <img src="/images/CocaZero200ml.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h6 class="card-title">Refrigerante Coca-Cola Sem Açúcar LATA 220ML</h6>
                <p class="card-text">R$ 2,79 </p>
                <a href="#" class="btn ">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100 ">
              <img src="/images/FantaUva220ml.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h6 class="card-title">Refrigerante Fanta Sabor Uva LATA 350ML</h6>
                <p class="card-text">R$ 3,25</p>
                <a href="#" class="btn ">Comprar</a>
              </div>
            </div>
          </div>
        <div class="col">
          <div class="card h-100  ">
            <img src="/images/Guaran350ml.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">Refrigerante Guaraná Antarctica Sem Açúcar Lata 350ML</h6>
              <p class="card-text">R$ 2,99</p>
              <a href="#" class="btn ">Comprar</a>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card h-100  ">
              <img src="/images/Sprite2l.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h6 class="card-title">Refrigerante Sprite Sabor Limão Sem Açúcar PET 2L </h6>
                <p class="card-text">R$ 8,69</p>
                <a href="#" class="btn ">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100  ">
              <img src="/images/monster.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h6 class="card-title">Energético Monster Energy Green 473ml </h6>
                <p class="card-text">R$8,59.</p>
                <a href="#" class="btn ">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100  ">
              <img src="/images/redBull.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h6 class="card-title">Energético Sem Açúcar Red Bull Energy Drink Sugarfree 250 ml</h6>
                <p class="card-text">R$ 8,89</p>
                <a href="#" class="btn ">Comprar</a>
              </div>
            </div>
          </div>
          </div>
      </div>
    </div>
    