<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="/images/alface.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">Alface Crespa Naturalmente Fresca Qualitá</h6>
              <p class="card-text"> a partir de R$5,99</p>
              <a href="#" class="btn ">Comparar preço</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 ">
            <img src="/images/banana.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title"> Banana Maçã 600g</h6>
              <p class="card-text"> a partir de R$ 8,90</p>
              <a href="#" class="btn ">Comparar preço</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100  ">
            <img src="/images/chuchu.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">Chuchu 600g</h6>
              <p class="card-text">a partir de R$ 2,35</p>
              <a href="#" class="btn ">Comparar preço</a>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card h-100  ">
              <img src="/images/macamonica.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h6 class="card-title">Maçã TURMA DA MÔNICA Pacote 1kg </h6>
                <p class="card-text"> a partir de R$ 16,90</p>
                <a href="#" class="btn ">Comparar preço</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100  ">
              <img src="/images/mamao.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h6 class="card-title">Mamão Papaya Golden 600g</h6>
                <p class="card-text">a partir de R$7,60.</p>
                <a href="#" class="btn ">Comparar preço</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100  ">
              <img src="/images/manga.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h6 class="card-title">Manga Tommy 500g </h5>
                <p class="card-text">a partir de R$5,99.</p>
                <a href="#" class="btn ">Comparar preço</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100  ">
              <img src="/images/millhoverde.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h6 class="card-title">Milho Verde QUALITÁ Bandeja 700g</h6>
                <p class="card-text">a partir de 6,12</p>
                <a href="#" class="btn ">Comparar preço</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100  ">
              <img src="/images/pepinos.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h6 class="card-title">Pepino Japonês A Granel 300g </h6>
                <p class="card-text">a partir de R$2,90</p>
                <a href="#" class="btn ">Comparar preço</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100  ">
              <img src="/images/tomate.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h6 class="card-title">Tomate 500G</h6>
                <p class="card-text">a partir de R$5,90</p>
                <a href="#" class="btn ">Comparar preço</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100  ">
              <img src="/images/uvaescura.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h6 class="card-title">Uva Vitória Sem Semente QUALITÁ 500g</h6>
                <p class="card-text">a partir de R$15,69</p>
                <a href="#" class="btn ">Comparar preço</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100  ">
              <img src="/images/uvasclaras.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h6 class="card-title">Uva Clara sem Semente Qualitá 500g </h6>
                <p class="card-text">a partir de R$15,69</p>
                <a href="#" class="btn ">Comparar preço</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100  ">
              <img src="/images/melancia.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h6 class="card-title">Melancia Baby Nacional 3Kg </h6>
                <p class="card-text">a partir de R$22,33</p>
                <a href="#" class="btn ">Comparar preço</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100  ">
              <img src="/images/cebola.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h6 class="card-title">Cebola A Granel 500g</h6>
                <p class="card-text">a partir de R$2,99</p>
                <a href="#" class="btn ">Comparar preço</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100  ">
              <img src="/images/cenoura.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h6 class="card-title">Cenoura 500g</h6>
                <p class="card-text">a partir de R$3,99</p>
                <a href="#" class="btn ">Comparar preço</a>
              </div>
            </div>
          </div>
      </div>
    </div>
    